<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mti.component.common">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 录像 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>
